{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="col-md-6 offset-md-3">
        <h3 class="display-4 mb-3 text-center">Note</h3>
        <ul class="list-group list-group-flush" id="notes">
            {% for note in current_user.notes %}
                <li class="list-group-item d-flex align-items-center justify-content-between">
                    {{ note.data }}
                    <button type="button" class="close" onclick="onDelete({{ note.id }})">&times;</button>
                </li>
            {% endfor %}
        </ul>
        <form method="post" class="d-grid">
            <textarea name="note" id="note" class="form-control mb-2" rows="10" placeholder="Type your note"></textarea>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
{% endblock %}