{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="col-md-6 offset-md-3 bg-dark text-light rounded p-5">
        <h3 class="display-4 mb-3 text-center">Register</h3>
        <form method="post" class="d-grid">
            <div class="form-group mb-2">
                <label for="email">Email Address</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email">
            </div>
            <div class="form-group mb-2">
                <label for="first-name">First Name</label>
                <input type="text" name="first-name" id="first-name" class="form-control" placeholder="Enter your first name">
            </div>
            <div class="form-group mb-2">
                <label for="last-name">Last Name</label>
                <input type="text" name="last-name" id="last-name" class="form-control" placeholder="Enter your last name">
            </div>
            <div class="form-group mb-2">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Create a password">
            </div>
            <div class="form-group mb-3">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" name="confirm-password" id="confirm-password" class="form-control" placeholder="Re-enter a password">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
{% endblock %}